First , we need to run commands in terminal and proceed further..
pip install boto3 pandas s3fs
where:
boto3 → AWS SDK

s3fs → allows pandas to read s3:// paths

pandas → As we know


**And we need to run aws configure after this one inorder to nake a connection from our system to aws cloud - first thing in terminal and after that .ipynb code..

In [1]:
import boto3

In [2]:
s3 = boto3.client("s3")
s3.list_buckets()

{'ResponseMetadata': {'RequestId': 'BD0RAFBANQFFGACF',
  'HostId': 'FLhz6u7xUoWuYeks6S5iqQ00AI4BpL4BEgDKXBGjvl0nUnpEFSG2FNdI9x0zbmVmoaDsBjnmZNPijnQukWLLHWEAaXZDfIQ1s2wW6GhQX5A=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'FLhz6u7xUoWuYeks6S5iqQ00AI4BpL4BEgDKXBGjvl0nUnpEFSG2FNdI9x0zbmVmoaDsBjnmZNPijnQukWLLHWEAaXZDfIQ1s2wW6GhQX5A=',
   'x-amz-request-id': 'BD0RAFBANQFFGACF',
   'date': 'Tue, 06 Jan 2026 05:36:39 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Buckets': [{'Name': 'immigration-data-kartheekp',
   'CreationDate': datetime.datetime(2026, 1, 3, 20, 22, 24, tzinfo=tzutc()),
   'BucketArn': 'arn:aws:s3:::immigration-data-kartheekp'}],
 'Owner': {'ID': '15f3fc07b2bd09cb8b79199e974cd2e15b17e49e15c8aea1f07cb0e2ffbe4169'}}

In [3]:
bucket_name = "immigration-data-kartheekp"
file_key = "Raw_Data/US Immigration Statistics (Ver 1.7.23).csv"

In [4]:
response = s3.get_object(
    Bucket = bucket_name,
    Key = file_key
)

In [5]:
from io import StringIO
import pandas as pd

csv_text = response["Body"].read().decode("utf-8")
df = pd.read_csv(StringIO(csv_text))

In [6]:
df

,Year,Immigrants Obtaining Lawful Permanent Resident Status,Refugee Arrivals,Noncitizen Apprehensions,Noncitizen Removals,Noncitizen Returns
0,1980,"524,295","207,116","910,361","18,013","719,211"
1,1981,"595,014","159,252","975,780","17,379","823,875"
2,1982,"533,624","98,096","970,246","15,216","812,572"
3,1983,"550,052","61,218","1,251,357","19,211","931,600"
4,1984,"541,811","70,393","1,246,981","18,696","909,833"
5,1985,"568,149","67,704","1,348,749","23,105","1,041,296"
6,1986,"600,027","62,146","1,767,400","24,592","1,586,320"
7,1987,"599,889","64,528","1,190,488","24,336","1,091,203"
8,1988,"641,346","76,483","1,008,145","25,829","911,790"
9,1989,"1,090,172","107,070","954,243","34,427","830,890"
10,1990,"1,535,872","122,066","1,169,939","30,039","1,022,533"
11,1991,"1,826,595","113,389","1,197,875","33,189","1,061,105"
12,1992,"973,445","115,548","1,258,481","43,671","1,105,829"
13,1993,"903,916","114,181","1,327,261","42,542","1,243,410"
14,1994,"803,993","111,680","1,094,719","45,674","1,029,107"
15,1995,"720,177","98,973","1,394,554","50,924","1,313,764"
16,1996,"915,560","75,421","1,649,986","69,680","1,573,428"
17,1997,"797,847","69,653","1,536,520","114,432","1,440,684"
18,1998,"653,206","76,712","1,679,439","174,813","1,570,127"
19,1999,"644,787","85,285","1,714,035","183,114","1,574,863"
20,2000,"841,002","72,165","1,814,729","188,467","1,675,876"
21,2001,"1,058,902","68,920","1,387,486","189,026","1,349,371"
22,2002,"1,059,356","26,785","1,062,270","165,168","1,012,116"
23,2003,"703,542","28,286","1,046,422","211,098","945,294"
24,2004,"957,883","52,840","1,264,232","240,665","1,166,576"
25,2005,"1,122,257","53,738","1,291,065","246,431","1,096,920"
26,2006,"1,266,129","41,094","1,206,408","280,974","1,043,381"
27,2007,"1,052,415","48,218","960,673","319,382","891,390"
28,2008,"1,107,126","60,107","1,043,759","359,795","811,263"
29,2009,"1,130,818","74,602","889,212","379,739","582,567"
30,2010,"1,042,625","73,293","796,587","382,449","471,798"
31,2011,"1,062,040","56,384","678,606","390,413","322,046"
32,2012,"1,031,631","58,179","795,735","415,579","231,105"
33,2013,"990,553","69,909","786,223","432,201","178,973"
34,2014,"1,016,518","69,975","805,334","405,026","163,836"
35,2015,"1,051,031","69,920","596,560","324,303","129,636"
36,2016,"1,183,505","84,989","683,782","332,263","106,479"
37,2017,"1,127,167","53,691","607,677","284,298","100,454"
38,2018,"1,096,611","22,405","739,486","327,554","159,960"
39,2019,"1,031,765","29,916","1,175,841","347,183","171,125"
40,2020,"707,362","11,840","609,265","237,861","167,453"
41,2021,"740,002","11,454","1,865,379","89,191","178,227"

Data Pre-processing:
1.Column inspection
2.Decide What Columns We Care About - remove unnecessary columns  - Here we are keeping as all are important ...
3.Rename Columns (Clarity & Professionalism)
4.Fix Data Types
5.Handle Missing Values

In [7]:
#1.Column inspection
df.columns

Index(['Year', 'Immigrants Obtaining Lawful Permanent Resident Status',
       'Refugee Arrivals', 'Noncitizen Apprehensions', 'Noncitizen Removals',
       'Noncitizen Returns'],
      dtype='object')

In [8]:
#3.Rename Columns (Clarity & Professionalism)
df = df.rename(columns = {
    "Year" : "year",
    "Immigrants Obtaining Lawful Permanent Resident Status" : "lpr",
    "Refugee Arrivals" : "refugee_arrivals",
    "Noncitizen Apprehensions": "noncitizen_apprehensions",
    "Noncitizen Removals" : "noncitizen_removals",
    "Noncitizen Returns" : "noncitizen_returns"
})

In [9]:
#4.Fix Data Types
df.dtypes

year                         int64
lpr                         object
refugee_arrivals            object
noncitizen_apprehensions    object
noncitizen_removals         object
noncitizen_returns          object
dtype: object

In [10]:
df['year'] = df['year'].astype(int)

numeric_cols = [
    'lpr',
    'refugee_arrivals',
    'noncitizen_apprehensions',
    'noncitizen_removals',
    'noncitizen_returns'
]

for col in numeric_cols:
    df[col] = df[col].str.replace(",", "", regex=False)

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col],errors='coerce')

In [11]:
df.dtypes

year                        int64
lpr                         int64
refugee_arrivals            int64
noncitizen_apprehensions    int64
noncitizen_removals         int64
noncitizen_returns          int64
dtype: object

In [12]:
#5.Handle Missing Values 
#Count missing values (column-wise)
df.isnull().sum()

year                        0
lpr                         0
refugee_arrivals            0
noncitizen_apprehensions    0
noncitizen_removals         0
noncitizen_returns          0
dtype: int64

converting cleaned file to csv inorder to upload from python to s3 in aws..

In [13]:
cleaned_file = "immigration_cleaned.csv"
df.to_csv(cleaned_file,index = False)

Upload to s3

In [14]:
processed_file_key = "Processed_Data/immigration_cleaned.csv"

s3.upload_file(
    Filename = cleaned_file,
    Bucket = bucket_name,
    Key = processed_file_key
)

**Now Python → AWS S3 (processed data) → Power BI → Dashboard
       ***S3 → Public/Pre-signed URL → Power BI (Web connector) -Choose Access Type - Temporary Pre-Signed URL.

*Concept: What Is a Pre-Signed URL?


“A temporary key to read one file from S3.”

No AWS credentials inside Power BI

URL expires automatically

Power BI just sees it as a web file

In [15]:
#Generating presigned URl
presigned_url = s3.generate_presigned_url(
    ClientMethod = "get_object",
    Params = {
        "Bucket" : bucket_name,
        "Key" : processed_file_key
    },
    ExpiresIn = 3600 #url expires in 1 hr
)

presigned_url

'https://immigration-data-kartheekp.s3.amazonaws.com/Processed_Data/immigration_cleaned.csv?AWSAccessKeyId=AKIAYS2NSGPTCGUV6SIC&Signature=xeudhFYtx0utlmCBBdUFNdH4RNI%3D&Expires=1767681429'